body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  outline-color: white;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h2 {
  font-size: 23px;
}

.link {
  color: white;
  font-size: 16px;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
}

#banner {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;
}

.footer {
  text-align: left;
  font-size: 13px;
  background-color: dimgrey;
  color: white;
}
